[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
nose = "*"
coverage = "*"
sphinx = "*"

[packages]
numpy = "*"
pillow = "*"
numexpr = "*"

[requires]
python_version = "3.6"
